* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
.gitignore
.env.example
.styleci.yml
.editorconfig

/.github export-ignore
CHANGELOG.md export-ignore
